
	<script src="/socket.io/socket.io.js"></script>

<input type="text" name="message" id="msg" style="border: hidden;"><button onclick="sendData()" >send</button>
<script type="text/javascript">
	var socket = io('http://localhost:3000',{transports: ['websocket'], upgrade: false});
	var message;
	function sendData() {
   	message=document.getElementById('msg').value;
   	document.getElementById('msg').value="";
    socket.emit("chatData", message);
}

	socket.on('mssg',function(data){
	var div = document.createElement("div");
	div.style.width = "1000px";
	div.style.height = "50px";
	div.style.background = "grey";
	div.style.color = "white";
	div.innerHTML = data;

	document.body.appendChild(div);
	

	});
</script>
