<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="../public/images/bubbles.jpg">
  	<b>
  		
    {{{body}}}
  	</b>
  </body>
</html>
